<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitriseTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5B4919E1C0F490700CFE0FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B491B71C0F490700CFE0FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B491C21C0F490800CFE0FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
